---
import { getCollection } from 'astro:content';
import Header from '../../components/Header.astro';
import Layout from '../../layouts/Layout.astro';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<style>
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-all;
  }
</style>

<Layout>
	<div class="content-container">
    <div style="width: 90%">
      <center>
        <h2>{entry.data.title}</h2>
      </center>
      <Content />
    </div>
  </div>
</Layout>


