---
import Layout from '../layouts/Layout.astro';
---

<head>
    <title>About</title>
</head>

<Layout>
    <center>
        A simplistic Blog.
    </center>
    <center>
        You can contact me at @serchemach on some social media platforms if you want to.
    </center>
</Layout>