---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allBlogPosts = await getCollection('blog');
---

<style>
    .link-tab {
        margin: 20px;
    }

    .link-tab > a {
        color: black;
        transition: 0.3s;
        font-size: large;
        padding: 10px;
    }

    .link-tab > a:hover {
        background-color: gray;
        color: white;
    }

</style>

<Layout>
	<center>
		<h2> The list of currently available articles: </h2>
		{
			allBlogPosts.map(blogPostEntry => (
			<div class="link-tab">
				<a href={`./blog/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
			</div>
			))
		}
	</center>
</Layout>

