---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allBlogPosts = await getCollection('blog');
allBlogPosts.sort((a, b) => b.data.date - a.data.date);
---

<head>
    <title>Home</title>
</head>

<style>
    .link-tab {
        margin: 5px;
        width: fit-content;
        max-width: 70%;
        transition: 0.3s;
        padding: 10px;
    }

    .link-tab > a {
        color: black;
        font-size: large;
    }

    .link-tab:hover {
        background-color: gray;
    }

    .link-tab:hover > a {
        color: white;
    }

    .tab-holder {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .link-side {
        background-color: white;
        height: 3px;
        flex-grow: 1;
    }

    .link-tab:hover + .link-side,
    .link-side:has(+ .link-tab:hover) {
        background-color: gray;
    }

</style>

<Layout>
	<center>
		<h2> The list of currently available articles: </h2>
		{
			allBlogPosts.map(blogPostEntry => (
                <div class="tab-holder">
                    <span class="link-side">
                        
                    </span>
                    <div class="link-tab">
                        <a href={`./blog/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
                    </div>
                    <span class="link-side">

                    </span>
                </div>
			))
		}
	</center>
</Layout>

